:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --white-color: #fff;
    --effect-color: #2196F3;
    --second-back-color: #2F303A;
    --team-back-color: #F5F4FA;
    --button-color-hover: #188CE8;
    --border-color: #EEEEEE;
    --icon-color: #AFB1B8;
}

/* body main */

body {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto',
        sans-serif;
}

.section {
    padding: 94px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
.header {
    border: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.hide {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin-top: -1px;
}

/* nav */

.nav-list,
.contacts,
.nav-page {
    display: flex;
}

.nav-page {
    align-items: center;
}

.contacts {
    margin-left: auto;
}


/* logo */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--effect-color);
    margin-right: 93px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-color-black {
    color: var(--main-color);
}

/* contacts header */

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;

    bottom: 0;
    left: 0;
}

.nav-link.current {
    position: relative;
    color: var(--effect-color);
}

.nav-link.current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;

    bottom: 0;
    left: 0;

}

.nav-link,
.contacts-link {
    color: var(--main-color);
    font-weight: 500;
    padding: 30px 0;
    display: block;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link {
    color: var(--secondary-color);
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* hover and focus */

.nav-link:hover,
.nav-link:focus {
    color: var(--effect-color);
}

.contacts-link:hover {
    color: var(--effect-color);
}

/* hero */

.hero {
    position: relative;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back.jpg);
    background-color: var(--second-back-color);
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-title {
    width: 600px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-btn {
    color: var(--white-color);
    padding: 10px 32px;
    background-color: var(--effect-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
    background-color: var(--button-color-hover);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    visibility: visible;

    transition-property:
        opacity,
        visibility;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 40px;
    display: block;
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-btn-closed {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-closed:hover,
.modal-btn-closed:focus {
    fill: var(--effect-color);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 448px;
    text-align: left;
    padding: 0;
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
    margin-bottom: 12px;
}

.form-group-field {
    width: 100%;
    font-size: 16px;
    line-height: 1.125;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    padding: 0;
    margin-bottom: 4px;
}

.form-field {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: #212121;
    transition: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
    width: 100%;
    min-height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    color: var(--secondary-color);
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
    display: block;
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    color: var(--secondary-color);
    margin: 0;
    resize: none;
    outline: none;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus-within {
    border: 1px solid var(--effect-color);
}

.form-field:focus-within>.input-icon {
    fill: var(--effect-color);
}

.form-input:focus-within {
    border: 1px solid #2196f3;
}

.form-textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-agreement-label {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 24px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color)
}

.form-agreement-link {
    color: var(--effect-color);
    text-decoration: underline;
}

.form-agreement-icon-check {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 15px;
    opacity: 1;

    transition: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.form-agreement-icon-checked {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 15px;
    opacity: 0;

    fill: var(--effect-color);

    transition: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked~.form-agreement-icon-check {
    opacity: 0;
}

.checkbox:checked~.form-agreement-icon-checked {
    opacity: 1;
}

.form-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    padding: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--effect-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.form-submit-btn:hover {
    background-color: var(--button-color-hover)
}


/* advantage */

.advantege-section {
    padding-bottom: 0px;
}

.advantage-list {
    display: flex;
    margin-right: -30px;
}

.advantage-titles {
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantege-icon {
    background: var(--team-back-color);
    margin-bottom: 30px;
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
}

.advantage-item {
    margin-right: 30px;
}

.advantage-item:last-child {
    margin-right: 0px;
}

.advantage-explanations {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

/* task */

.task-list {
    display: flex;
}

.task-item {
    position: relative;
    margin-right: 30px;
}

.task-item:last-child {
    margin-right: 0px;
}

.img-task {
    display: block;
    max-width: 100%;
    max-height: auto;
}

.img-work {
    display: block;
    max-width: 100%;
    max-height: auto;
}

.task-name-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.task-name {
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}


.headlines {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}

/* team */
.section-team {
    background-color: var(--team-back-color);

}

.team-list {
    display: flex;
}

.team-item {
    background-color: var(--white-color);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
    margin-right: 0px;
}

.team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
}

.team-position {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
}

.team-write {
    margin: 30px 0 16px 0;
}

.link-container {
    margin: 0px 32px 30px 32px;
}

.social-link {
    fill: var(--icon-color);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
    background-color: var(--effect-color);
    border-radius: 50%;
    fill: var(--white-color);


}

.team-social {
    display: flex;
}

.team-social-item {
    margin-right: 10px;
}

.team-social-item:last-child {
    margin-right: 0px;
}

.headlines-partner {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}

.partners-link {
    fill: var(--icon-color);
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;

    transition-property: fill,
        border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-list {
    display: flex;
}

.partners-item {
    margin-right: 30px;
}

.partners-item:last-child {
    margin-right: 0px;
}

.partners-link:focus,
.partners-link:hover {
    border: 1px solid #2196F3;
    box-sizing: border-box;
    border-radius: 4px;
    fill: var(--effect-color);
}


/* footer */

.footer-list {
    display: flex;
    align-items: baseline;
}

.footer-soc-network {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-icon-soc {
    display: flex;
    margin-right: 10px;
}

.footer-icon-soc:last-child {
    margin-right: 0px;
}

.footer-icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.footer .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .footer-link:hover,
.footer .footer-link:focus {
    background-color: var(--effect-color);
}

.footer-list p {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.address {
    font-style: normal;
}

.footer {
    background-color: var(--second-back-color);
    min-width: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    display: inline-block;
    color: var(--white-color);
    margin-bottom: 20px;
    margin-right: 0px;
}

.footer .title-white {
    color: var(--white-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .title-rgba {
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.address .item {
    display: block;
    margin-bottom: 9px;
}

.address .item:last-child {
    margin-bottom: 0px;
}

.footer .item-address {
    margin-right: 70px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .item-address :hover,
.footer .item-address :focus {
    color: var(--effect-color);
}

.footer-right-block {
    margin-left: auto;
    color: var(--white-color);
}

.footer-do-mail {
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subscription {
    display: flex;
    align-items: center;
}

.subscription-input {
    display: flex;
    align-items: center;
    min-width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.form-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--effect-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--white-color);
}




.portfolio-container {
    background-color: var(--white-color);
}

.filter-list {
    display: flex;
    justify-content: center;
}

.filter-item {
    margin-right: 8px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item:last-child {
    margin-right: 0px;
}


.filter-item:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filter {
    padding: 6px 22px;
    background-color: var(--team-back-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--main-color);
    cursor: pointer;

    transition-property: box-shadow, color,
        background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover {
    color: var(--white-color);
    background-color: var(--effect-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


/* Cards */

.cards-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.card-item {
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--white-color)
}

.card-item:nth-child(3n+3) {
    margin-right: 0px;
}

.card-item:nth-last-child(-n+4) {
    margin-bottom: 0px;
}

.card-href {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.img-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.card-href:hover .overlay {
    transform: translateY(0);
}

.p-overlay {
    padding: 64px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.card-href:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-name {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-color)
}

.card-filter {
    font-weight: normal;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--secondary-color)
}

.card-write {
    padding: 20px 24px;
    background: var(--white-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    box-sizing: border-box;
}

.no-gap {
    display: block;
}